/* global color */

.bg-baby-blue {
  background-color: #035ea8;
}

/*global*/

body {
  background: #fff;
  color: black;
  font-family: "nunito sans";
  overflow-x: hidden;
}

h3 {
  font-size: 2rem;
}

/* image from the index.html page */

.showcase {
  background: url("../img/home.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: left center;
  background-attachment: fixed;
}

.testing-img {
  background: url("../img/Testing.jpg");
  background-size: cover;
  height: 50vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
}
